<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
<<<<<<< HEAD
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>HOME</h1>
    <p>FIRST</p>
    <script></script>
=======
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
>>>>>>> 5d043101ba26b9b15c2d99b1018e48e12b212373
  </body>
</html>
