<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>HOME</h1>
    <p>FIRST</p>
    <script></script>
  </body>
</html>
