<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
    <link rel="stylesheet" href="css/Semantic-UI-CSS-master/semantic.min.css">
    <title>vue</title>
</head>
<body>

    <!-- 头部开始 -->
    <div class="ui container tk-top" style="margin: 10px 0;">
        <div class="ui secondary menu">
            <div id="head-menu" style="margin: auto 0;">
                <div v-for="(index, item) in items" style="display: inline-block;">
                    <a href="{{ item.href | json  }}" class="{{ item.active | json }} item">
                        <i class="{{ item.icon0 | json }}"></i>
                        {{ item.menu | json }}
                        <div class="{{ item.icon1 | json }}">{{ item.tip | json }}</div>
                    </a>
                </div>
            </div>
            <!--更多-->
            <div class="ui simple dropdown item" style="padding: 5px;">
                <span class="text" style="line-height: 24px;"><i class="ellipsis vertical icon"></i>更多</span>
                <div class="menu">
                    <div class="ui icon search input tk-menu-search">
                        <i class="search icon"></i>
                        <input type="text" name="search" placeholder="搜索问题...">
                    </div>
                    <div class="divider"></div>
                    <div id="head-menu-more">
                        <div v-for="(index, item) in items" style="display: inline;">
                            <a href="{{ item.href }}" class="{{ item.active }} item" style="margin: 5px 10px;line-height: 24px;padding: 5px 0px;">
                                <i class="{{ item.icon0 }}" style="margin: auto 0;"></i>
                                {{ item.menu }}
                                <div class="{{ item.icon1 }}">{{ item.tip }}</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right menu">
                <div class="item">
                    <div class="ui search github">
                        <div class="ui icon input">
                            <input class="prompt" type="text" placeholder="Search GitHub...">
                            <i class="github icon"></i>
                        </div>
                        <!--<div class="results"></div>-->
                    </div>
                </div>
                <a class="ui item">
                    <img class="ui mini avatar image" src="images/thumb_DSC_0489_1024.jpg">
                    admin
                </a>
                <a class="ui item">
                    <i class="sign out icon"></i>
                    退出
                </a>
            </div>
        </div>
    </div>
    <!-- 头部结束 -->
    <script src='js/vender/jquery.js'></script>
    <script src='js/vender/semantic.js'></script>
    <script src='js/vender/vue.js'></script>

    <script>
        //头菜单
        var head_data = {
            items: [
                { menu: 'CMS系统' ,href:"#" ,active:'' ,icon0: 'icon home' ,icon1 :'floating ui green mini circular label',tip: '新' },
                { menu: '数据可视化系统' ,href:"#",active:'',icon0: 'icon home' ,icon1 :'floating ui green mini circular label',tip: '新' },
                { menu: '权限管理' ,href:"#",active:'active blue',icon0: 'icon privacy' ,icon1 :'floating ui green mini circular label',tip: '新' },
                { menu: '后台菜单管理' ,href:"#",active:'',icon0: 'icon sitemap' ,icon1 :'ui floating red mini circular label',tip: '2' }
            ]
        };
        //right floated
        var head_data_more = {
            items: [
                { menu: '系统设置' ,href:"#",active:'',icon0: 'icon loading setting' ,icon1 :'ui right floated red mini circular label',tip: '3' }
            ]
        };
        var head_menu = new Vue({
            el: '#head-menu',
            data: head_data
        });
        var head_menu_more = new Vue({
            el: '#head-menu-more',
            data: head_data_more
        });

        //菜单下拉框
        $('.dropdown').dropdown();

        //菜单下拉框搜索
        $('.ui.search.tk-menu-search').search({
            source: head_data
        });
    </script>
</body>
</html>